babel==2.18.0
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.2
docutils==0.23
doit==0.37.0
idna==3.20
lxml==6.1.3
Mako==1.4.3
Markdown==3.11
MarkupSafe==3.0.4
natsort==8.4.0
Nikola==8.3.3
piexif==1.1.3
pillow==12.3.0
Pygments==2.21.0
PyRSS2Gen==1.1
python-dateutil==2.9.0.post0
requests==2.34.2
setuptools==84.0.0
six==1.17.0
Unidecode==1.4.0
urllib3==2.8.0
