#!/usr/bin/env ruby

compile '/posts/*.md' do
  filter :kramdown
  layout '/post.erb'
  write item.identifier.without_ext.to_s + '/index.html'
end

compile '/index.html' do
  filter :erb
  write '/index.html'
end

ignore '/**/*'

layout '/**/*', :erb
